<div class="form-wrap">
  <form class="form-wrap__create-card-form">

    <h2>Create new card</h2>

    <div class="form-wrap__create-card-form__field">
      <label for="create-card-form-title">Title</label>
      <input id="create-card-form-title" type="text">
    </div>

    <div class="form-wrap__create-card-form__field">
      <label for="create-card-form-discription">Discription</label>
      <input id="create-card-form-discription" type="text">
    </div>

    <div class="form-wrap__create-card-form__field">
      <label for="create-card-form-img">Img</label>
      <input id="create-card-form-img" type="text">
    </div>

    <div class="form-wrap__create-card-form__field">
      <label for="create-card-form-link-video">Link video</label>
      <input id="create-card-form-link-video" type="text">
    </div>

    <button type="submit">Create card</button>

  </form>
</div>
