:host {
  display: flex;
  align-items: center;

  p {
    padding-right: 4px;
    cursor: pointer;
  }

  p:hover {
      text-decoration: underline;
    }

  input {
    border: none;
  }
}
