<header class="header">

  <div class="header__wrap">
    <div class="header__wrap__center-block">
      <section class="header__wrap__center-block__logo">
        <div class="">
          <img alt="logo" src="../../../assets/logo.png">
        </div>
      </section>

      <section class="header__wrap__center-block__search-input">
        <input type="text" name="headerUserWords"
          #headerUserWords>
        <button class="header__wrap__center-block__search-input__button"
          (click)="submitButtonOnClick(headerUserWords.value)">
          search
        </button>
      </section>

      <section class="header__wrap__center-block__settings"
        (click)="settingsOpenedOnClick()">
        <div class="header__wrap__center-block__settings__line">
          <div class="header__wrap__center-block__settings__line__round-right"></div>
        </div>
        <div class="header__wrap__center-block__settings__line">
          <div class="header__wrap__center-block__settings__line__round-left"></div>
        </div>
        <div class="header__wrap__center-block__settings__line">
          <div class="header__wrap__center-block__settings__line__round-right"></div>
        </div>
      </section>
    </div>

    <section class="header__wrap__logo-info">
      <div class="header__wrap__logo-info__alert" *ngIf="isAlert && !isAuth">
        <p>Необходима регистрация --></p>
      </div>
      <div class="header__wrap__logo-info__wrap" *ngIf="!isAuth">
        <button
          type="button"
          (click)="loginOnClick()"
          routerLink="/auth">
          Login
        </button>
      </div>

      <div class="header__wrap__logo-info__wrap" *ngIf="isAuth">
        <p>{{userName}}</p>
        <img title="login" alt="login" src="../../../assets/Subtract.svg">
      </div>
       <button
       class="header__wrap__logo-info__wrap__logout-button"
          type="button"
          *ngIf="isAuth"
          (click)="logOutOnClick()"
          routerLink="/youtube">
          Logout
        </button>
    </section>
  </div>
</header>
