<div class="login-form-wrap">
  <h1 class="login-form-wrap__title">Login</h1>
  <form class="login-form-wrap__login-form">

    <div class="login-form-wrap__login-form__field">
      <label for="#userName">login</label>
      <input type="text" name="user-name" #userName>
    </div>

     <div class="login-form-wrap__login-form__field-error">
      <p></p>
    </div>

    <div class="login-form-wrap__login-form__field">
      <label for="#password">password</label>
      <input type="password" name="password" #password>
    </div>

        <div class="login-form-wrap__login-form__field-error">
      <p></p>
    </div>

  </form>

  <button
    type="button"
    class="login-form-wrap__submit-button"
    routerLink="/youtube"
    (click)="submitUserDataOnClick(userName.value)">Login</button>
</div>
