.main {
  width: 100%;
  display: flex;
  justify-content: center;

  &__search-resuilt-block {
  width: 98%;
  max-width: 1165px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
}

