@import url(./reset.css);

* {
box-sizing: border-box;
}

html, body { height: 100%; }

input[type="text" i] {
    padding: 0;
}
.mat-body, .mat-body-1, .mat-typography {
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 14px;
    line-height: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
  margin: 0 0 0;
}
