  .search-resuilt-block {
  width: 98%;
  max-width: 1165px;

  &__video-cards-wrap {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
}
